@charset "UTF-8";

/* 回答はここに書いてね */
th,td{
  padding: 10px;
}
td{
  text-align: center;
  font-size:16px;
  line-height:22px;
  border: solid hsl(0, 0%, 87%) 1px;
}
th,td:nth-child(1){
 color:white;
 background-color: #2244aa;
 font-size:18px;
 line-height:26px;
 border: solid #dedede 1px;
}
.data-even{
  background-color: #ecf1f2;
}
.data-last{
  border-top: dashed #000 2px;
}




/* 回答はここに書いてね */
