@charset "UTF-8";

/* 回答はここに書いてね */

.first-big-box{
  width: 550px;
}
.first-box{
  float: left;
  width: 225px;
  margin-left: 50px;
  box-sizing: border-box;
}
.first-box:first-child{
  margin-left: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: left;
}
.secound-box{
 display:table;
}
.secound-inner-box{
  display: table-cell;
  padding-left: 50px;
}
.secound-inner-box:first-child{
  padding-left: 0;
  vertical-align: middle;
}
.secound-box-text{
  width: 225px;
  box-sizing: border-box;
  
}
.third-big-box{
  font-size: 0;
}
.third-box{
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  width: 225px;
  margin-left: 50px;
  box-sizing: border-box;
}
.third-box:first-child{
  margin-left: 0;
}

.fourth-box{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.fourth-inner-box{
  width: 225px;
  box-sizing: border-box;
}
.fifth-big-box{
  position: relative;
  box-sizing: border-box;
}
.fifth-box{
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
}
.fifth-left-box-text{
  height:100%;
  width: 300px;
  box-sizing: border-box;
  margin-right: 50px;
 
}
.fifth-right-box-text{
  margin-left: -300px;
  padding-left: 350px;
  
  
}
/* 回答はここに書いてね */