@charset "UTF-8";

/* 回答はここに書いてね */

.first-big-box{
  width: 550px;
}
.first-left-box{
  float: left;
  width: 225px;
  margin-left: 0px;
  box-sizing: border-box;
}
.first-right-box{
  float: left;
  width: 225px;
  margin-left: 25px;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: left;
}
.secound-box{
 display:table;
}
.secound-left-box{
  display: table-cell;
  width: 225px;
}
.secound-right-box{
  display: table-cell;
  width: 225px;
}
.secound-right-box-text{
  margin-left: 50px;
  box-sizing: border-box;
  width: 225px;
}

.third-box{
  display: inline-block;
  vertical-align: middle;
  width: 225px;
  box-sizing: border-box;
}
.third-box-right{
  margin-left: 40px;
}

.fourth-box{
  display: flex;
  justify-content: space-around;
}
.fourth-inner-box{
  width: 225px;
  height: 100%;
  box-sizing: border-box;

}
.fifth-big-box{
  position: relative;
}
.fifth-box{
  vertical-align: top;
  display: inline-block;
}
.fifth-left-box-text{
  height:100%;
  width: 300px;
  box-sizing: border-box;
}
.fifth-right-box-text{
  position: absolute;
  margin-right: -20px;
  margin-left: 50px;
}
/* 回答はここに書いてね */