@charset "UTF-8";

/* 回答はここに書いてね */
.bigbox{
  border: 5px solid #222;
  border-radius: 30px;
  width: 500px;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}
p{
  font-size: 16px;
  line-height: 16px;
  word-break: break-all;
}
.bigbox::after,.bigbox::before{
  content: '';
  position: absolute;
  border: 20px solid transparent;
}

.bigbox::before{
  border-top: 20px solid#222;
  bottom: -40px;
}
.bigbox::after{
  border-top: 20px solid #fff;
  bottom: -33px;
}
/* 回答はここに書いてね */
