@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table{
  width: 100%;
  table-layout: fixed;
  /* テーブルの列幅を固定レイアウトにする */
}
.q3_table th,td{
  padding: 10px;
}
.q3_table td{
  text-align: center;
  font-size:16px;
  line-height:22px;
  border: solid hsl(0, 0%, 87%) 1px;
}
.q3_table th,td:nth-child(1){
 color:white;
 background-color: #2244aa;
 font-size:18px;
 line-height:26px;
 border: solid #dedede 1px;
}
.q3_table tr:nth-child(odd){
  background-color: #ecf1f2;
}
.q3_table tr:last-child{
  border-top: dashed #000 2px;
}




/* 回答はここに書いてね */
