
@charset "UTF-8";

/* 回答はここに書いてね */
.btn-small{
  border-radius: 3px;
  font-size: 16px;
  height:26px;
  line-height: 26px;
  padding: 0 15px;
  display: inline-block;
  color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
}
.btn-middle{
  border-radius: 5px;
  font-size: 20px;
  height:32px;
  line-height: 32px;
  padding: 0 20px;
  display: inline-block;
  color: #ffffff;
  margin-left: 10px;
  cursor: pointer;

}
.btn-large{
  border-radius: 7px;
  font-size: 24px;
  height:38px;
  line-height: 38px;
  padding: 0 25px;
  display: inline-block;
  color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
}

.btn-blue{
 background-color: #00bcd4;
}
.btn-pink{
  background-color: #ff4081;
}
.btn-gray{
  background-color: #e5e5e5;
}
.btn-white{
  background-color: #fff;
  color: #222222;
  box-shadow: 0 1px 4px rgba(0,0,0,12);
  
}
.form{
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECF1F2;
}
.form-main {
  float: left;
  width: 300px;
}
.form-title{
  position: relative;
  margin-bottom: 20px;
}
.form__title:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: "";
}
.form-title-text{
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ECF1F2;
  font-size: 24px;
  font-weight: bold;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.form-left {
  float: left;
  width: 300px;
}
.form-left > li {
  margin-top: 20px;
}
.form-left > li:first-child{
  margin-top:0;
}
.form-right{
  float: right;
  width: 380px;
}
.form-main-title{
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
}
.form-main-title .is-required{
  color: #F00;
}
.form-main-content{
  float: right;
  width: 180px;
}
.input-init{
  padding: 0;
  background: none;
  border: none;
  border-radius:0;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input{
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}
.input:focus {
  box-shadow: 0 0 7px #00BCD4;
}
.radio {
  cursor: pointer;
}
.radio-btn {
  display: none;
}
.radio-text {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}
.radio-text:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
}
.radio-btn:checked + .radio-text:after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
  content: '';
}
.hometown-select {
  position: relative;
}
.hometown-select:after {
  display: block;
  position: absolute;
  top: 4px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  transform: rotate(45deg);
  content: "";
  pointer-events: none;
}
.select-body {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  cursor: pointer;
  
}
.q8-checkbox {
  text-align: right;
}
.checkbox-btn {
  display: none;
}
.checkbox-text {
  position: relative;
  display: inline-block;
  padding-left: 24px;
}
.checkbox-text:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  background-color: #fff;
  border: 1px solid #ccc;
  content: '';
}
.checkbox-btn:checked + .checkbox-text:after {
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -14px;
  width: 8px;
  height: 16px;
  border-right: 3px solid #00BCD4;
  border-bottom: 3px solid #00BCD4;
  transform: rotate(45deg);
  content: '';
}
.main-btn{
  text-align: right;
 
}
.main-bottom-btn {
  padding: 0 10px;
  border-radius: 5px;
  background-color: #00BCD4;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;  
}
.main-bottom-btn:active {
  background-color: #FFF;
  color: #00BCD4;
}
.form-right {
  float: right;
  width: 380px;
}
.side-text {
  width: 100%;
  height: 203px;
  padding: 10px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
}
.side-text:focus {
  box-shadow: 0 0 7px #00BCD4;
}



/* 回答はここに書いてね */
